#textdomain wesnoth-trolls
[scenario]
    id=02_Home
    next_scenario=03_Trolls
    name= _ "Home"
    map_data="{~add-ons/Trolls/maps/02_Home.map}"

    victory_when_enemies_defeated=no
    experience_modifier=100
    carryover_percentage=40
    carryover_add=yes

    random_start_time=no
    {UNDERGROUND}

    turns=-1

    {SCENARIO_MUSIC underground.ogg}

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {TROG}
        fog=no
        shroud=no
#ifndef MULTIPLAYER
        [unit]
            {UG}
            x,y=5,1
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {UG}
        fog=no
        shroud=no
    [/side]

    {STARTING_VILLAGES_ALL 3}

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        {PLAYER_TEAM}
        {FLAG_VARIANT ragged}
        {CHIEF_PAG}
    [/side]

    [event]
    name=prestart 

        [hide_unit]
            id=Trog,Ug
        [/hide_unit]
    [/event]

    [event]
    name=start 

        [unhide_unit]
            id=Trog 
        [/unhide_unit]

        {MOVE_UNIT id=Trog 11 8}

        [unhide_unit]
            id=Ug
        [/unhide_unit]

        {MOVE_UNIT id=Ug 11 7}

        [endlevel]
            result=victory 
        [/endlevel]
    [/event]
[/scenario]
