#textdomain wesnoth-Trolls
[textdomain]
    name=wesnoth-Trolls
    path="data/add-ons/Trolls/translations"
[/textdomain]

[campaign]
    id=Trolls
    icon="units/trolls/troll-hero.png~RC(magenta>red)"
    name= _"Legend of the Troll Rebirth"
    require_campaign=no
    type=hybrid
    min_players=2
    max_players=2
    allow_era_choice=no
    abbrev= _ "trolls"
    rank=333
    start_year=""
    end_year=""
    define=TROLLS
    description=_ "After returning from the great war, the troll Trog realized how different he was from his kin. With his extensive battle experience behind him and his impressive hammer in his hands, he decided to reshape the life of the tribe in his own way. 

(Expert Level, 8 scenarios.)"
    first_scenario=trolls_01
    image="portraits/trolls/troll-hero-alt.webp~SCALE(400,400)"

    {CAMPAIGN_DIFFICULTY EASY "units/trolls/whelp.png~RC(magenta>red)" ( _ "Whelp") ( _ "Challenging")} 
    {CAMPAIGN_DIFFICULTY NORMAL "units/trolls/grunt.png~RC(magenta>red)" ( _ "Grunt") ( _ "Difficult")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/trolls/warrior.png~RC(magenta>red)" ( _ "Warrior") ( _ "Nightmare")}
    
    [about]
        title=_ "Campaign Creation"
        [entry]
            name=_"Mechanical"
        [/entry]
    [/about]
    [about]
        title=_ "Testing"
        [entry]
            name=_"dwarftough"
        [/entry]
    [/about]
    [about]
        title=_ "Thanks for playing!"
    [/about]
    {~add-ons/Trolls/utils}
[/campaign]

#ifdef TROLLS
[binary_path]
    path=data/add-ons/Trolls
[/binary_path]

{~add-ons/Trolls/scenarios}
#endif
