#textdomain wesnoth-Trolls

#define DELAY TIME 
    [delay]
        time={TIME}
    [/delay]
#enddef

#define SOUND NAME
    [sound]
        name={NAME}
    [/sound]
#enddef

#define SCROLL_TO X Y
    [scroll_to]
        x,y={X},{Y}
    [/scroll_to]
#enddef

#define SCROLL_TO_UNIT FILTER
    [scroll_to_unit]
        {FILTER}
    [/scroll_to_unit]
#enddef

#define SHOW_OBJECTIVES 
    [show_objectives][/show_objectives]
#enddef 

#define REDRAW WML 
    [redraw]
        {WML}
    [/redraw]
#enddef